<h1>Result</h1>

<br><%= @result %>
<br><br>
******** Now your results ********<br>
Your word: <%= @word %><br>
<%# Time Taken to answer: <%= @time %>
Your score: <%= @current_game_score %><br>
Total score: <%= @session %><br>


<br><br>
<div class="text-primary">
  <%= link_to "Play again", new_path %>
</div>
